.job_box{
    width: 100%;
  background-color: rgba(225, 225, 225, 0.989) !important;

}

.btn-skill{
    background-color: rgba(240, 128, 128, 0.881) !important;
    color: white !important;
}

.btn-jobType{
    background-color: rgba(247, 170, 28, 0.651) !important;
    color: white !important;
}